
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
  width: auto;
  max-width: 200px;
}

.BeerCenter{
  margin-left: auto;
    margin-right: auto;
  display: flex;
justify-content: center;
text-align:center;
}
.BeerButton{
  border-radius: 12px;
  background-color: white;
  box-shadow:0 2px 3px #ccc;
  margin: 4px 2px;
  cursor: pointer;

}