.Beer{
    width: 60%;
    margin:auto;
    border: 1px solid #eee;
    box-shadow:0 2px 3px #ccc;
    padding: 16px;
    text-align:center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
  width: auto;
  max-width: 200px;
}
